<!DOCTYPE html>
<!--

  ┌─┐┬─┐┌┬┐┬ ┬┬ ┬┬─┐┬  ┌─┐┌─┐┌─┐┌─┐┌┬┐┌─┐ ┌─┐┌─┐┌┬┐
  ├─┤├┬┘ │ ├─┤│ │├┬┘│  ├─┤│  │ │└─┐ │ ├┤  │  │ ││││
  ┴ ┴┴└─ ┴ ┴ ┴└─┘┴└─┴─┘┴ ┴└─┘└─┘└─┘ ┴ └─┘o└─┘└─┘┴ ┴

Salut !

De ce que je vois, toi aussi, tu aimes lire les sources ? Et bien tu vois, tu n'es pas le
seul. Moi aussi, j'aime regarder comment est construit un site.

J'espère que ça te plaira !

Bye,

Arthur

-->
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Arthur Lacoste - {{ page.title | default: "Un développeur pas comme les autres" }}</title>
			<link rel="icon" type="image/png" href="/img/arthurlacoste.png" />

			<meta name="DC.creator" content="Arthur Lacoste - http://arthurlacoste.com" />
			<meta name="robots" content="index, follow" />
			<meta name="description" content="Arthur Lacoste webdesigner et développeur full stack à Grenoble. Création de sites internet, applications web responsives. Design d'interfaces graphiques et ergonomiques. Voici mon portfolio où vous retrouverez tous mes projets." />
			<meta name="keywords" content="web design, responsive, web development, développeur web" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />


			<!-- Bootstrap Core CSS -->
			<link href="/css/bootstrap.min.css" rel="stylesheet">

			<!-- Custom CSS -->
			<link href="/css/scrolling-nav.css" rel="stylesheet">
			<link rel="stylesheet" href="/fa/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:400,300,300italic,700normal,700italic,500">
			<link href="/custom.css" rel="stylesheet">

		   <link rel="image_src" href="/img/me.jpg" />
			<!--[if lt IE 9]>
			  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
		</head>

		<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

			<nav class="navbar navbar-default navbar-fixed-top" >
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				 <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-site" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand page-scroll" href="/#page-top">
					<img alt="Brand" src="/img/arthurlacoste.png" width="27px">
				  </a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="nav-collapse collapse navbar-collapse" id="menu-site">
				  <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="/#page-top"></a>
                    </li>
					<li data-toggle="collapse" data-target=".nav-collapse.in" ><a class="page-scroll" href="/#portfolio">Projets</a></li>
					<li data-toggle="collapse" data-target=".nav-collapse.in" ><a class="page-scroll" href="/#cv">Curriculum vitæ</a></li>
					<li data-toggle="collapse" data-target=".nav-collapse.in" ><a class="page-scroll" href="mailto:m@arthurlacoste.com">Contact</a></li>
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

		{{ content }}


    			<header class="sb-page-footer">
    				<div class="container">
    					<h1>Je vous intéresse ?</h1>
    					<p>Ça tombe bien, mon <i>code</i> est à prendre.</p>
    					<a href="mailto:m@arthurlacoste.com"><button type="button" class="btn btn-red-call btn-lg call-to-action">Me contacter</button></a>
    				</div>
    			</header>



    			<nav class="Footer-nav" data-content-field="navigation" id="yui_3_17_2_1_1464000344085_401">

    				<div class="Footer-nav-group" id="yui_3_17_2_1_1464000344085_400">
    					<a href="/qui-suis-je/" class="Footer-nav-item">Qui suis-je</a>
              <a href="/conditions-generales-de-vente/" class="Footer-nav-item">CGV</a>

    				</div>

    			</nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>


    <!-- Scrolling Nav JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/scrolling-nav.js"></script>
    <script src="/js/hover.zoom.js"></script>


    <script>

    $(document).ready(function(e) {

      var scroll_start = 0;
      var startchange = $('#startchange');
      var offset = startchange.offset();
      if (startchange.length){
        $(document).scroll(function() {
          scroll_start = $(this).scrollTop();
          if(scroll_start > offset.top) {
            $(".navbar-default").css('background-color', '#fff');
            $(".navbar-default .navbar-nav>li>a").css('color', '#777');

          } else {
            if($(window).width()>=768) {
              $(".navbar-default").css('background-color', 'transparent');
              $(".navbar-default .navbar-nav>li>a").css('color', '#f5f5f5');
            }
          }
        });
      }

      // change la couleur de la barre si on passe de desktop à mobile
      var width = $(window).width();
      $(window).resize(function(){
        if($(this).width() != width){
          width = $(this).width();
          if(width<768) {
            $(".navbar-default").css('background-color', '#fff');
            $(".navbar-default .navbar-nav>li>a").css('color', '#777');
          }
        }
      });

      // Affiche le bon item dans le portfolio
      $('.page-scroll').on('click', function () {
        var content = '#' + $(this).attr('id') + '-content';
        console.log(content);
        $(".portfolio-element").fadeOut(0);
        $(content).fadeIn(1000);
      });

    });



    </script>

			 <script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-5025145-3");
		pageTracker._trackPageview();
		} catch(err) {}</script>
  </body>
</html>
