---
layout: default
---

{% assign projects = site.data.nav['projects'] %}

<div class="wrapper">

  <div class="container">
    <div class="col-md-offset-3 col-md-6 col-sm-10 col-xs-10">
      <h1>Je suis un développeur pas comme les autres.</h1>
      <p>J'aime le code beau, épuré et les interfaces ergonomiques. J'aime ce qui est efficace. Je suis un développeur full&#8209;stack.
      </p>
    </div>
  </div>
  <div id="startchange"></div>
</div>

<header class="sb-page-header">
  <div class="container detail-portfolio-container">
    <a class="anchor" id="portfolio"></a>
    <h1>Projets</h1>
    <p>Une sélection</p>
  </div>
</header>


{% for item in projects %}
<header class="sb-page-portfolio {% if item.content == "center" %}on-center{% endif %}" style="background-image: url({{ item.background }}); background-color: {{ item.backgroundColor }};">
  <div class="container detail-portfolio-container">
    <a class="anchor" id="portfolio"></a>

    {% if item.content == "center" %}
    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
      {% else %}
      <div class="col-md-5 col-sm-5 col-xs-12">
        {% endif %}

        <h3>{{ item.nameProject }}</h3>
        <p>{{ item.description }}</p>


        {% if item.link %}
        <div class=" project-button">
          <a href="{{ item.permalink }}"><button type="button" class="btn btn-idk-call btn-lg call-to-action " style="background-color: {{ item.colorMaj }};">Explorer</button></a>
        </div>
        {% endif %}
      </div>

    </div>
  </header>
  {% endfor %}

  <header class="sb-page-header">
    <div class="container detail-portfolio-container">
      <a class="anchor" id="portfolio"></a>
      <h1>Articles</h1>
  </div>
  </header>
  <div class="main-container container">
      <div class="row">
        <div class="col-md-6">

  {% assign articles = site.data.nav['articles'] %}
  {% for item in articles %}
    {% assign counter = counter | plus: 1 %}
    {% assign currentCategory = item.category %}

    {% if currentCategory != previousCategory %}
      {% if counter != 1 %}
        </ul></div><div class="col-md-6">
      {% endif %}
      <h2>{{ currentCategory }}</h2>
        <ul>
    {% endif %}
          <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
    {% assign previousCategory = item.category %}
  {% endfor %}
  </div>
  </div>
  </div>

  <a class="anchor" id="portfolio-details"></a>

  <header class="sb-page-cv">
    <div class="container">
      <a class="anchor" id="cv"></a>
      <h1>Curriculum vitæ</h1>
      <p>Développeur full stack</p>
    </div>
  </header>


  <div class="main-container container">
    <div class="row">


      <!-- DL LINK haut -->
      <div class="text-center button-center">
        <a href="pdf/arthur-lacoste-cv.pdf" target="_blank"><button type="button" class="btn btn-red-call btn-lg call-to-action"><i class="fa fa-download" aria-hidden="true"></i>  Télécharger au format PDF</button></a>
      </div>

      <div class="col-xs-12 col-sm-7">

        <!-- EXPERIENCES -->
        <div class="box">
          <h2>Expériences</h2>
          {% assign experiences = site.data.nav['experiences'] %}
          {% for item in experiences %}
          <div class="job clearfix">

            <div class="profession">{{ item.poste }}</div>
            <div class="where">{{ item.entreprise }} <span class="year">({{ item.date }})</span></div>

            <div class="description">
              {{ item.description | markdownify }}
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- EDUCATION -->
        <div class="box">
          <h2>Éducation</h2>
          <ul id="education" class="clearfix">
            {% assign education = site.data.nav['education'] %}
            {% for item in education %}
            <li>
              <div class="year pull-left">{{ item.annee }}</div>
              <div class="description pull-right">
                <h3>{{ item.diplome }}</h3>
                <p>{{ item.description | markdownify }}</p>
              </div>
            </li>
            <li>
              {% endfor %}
            </ul>
          </div>

        </div>
        <div class="col-xs-12 col-sm-5">

          <!-- DL LINK droite-->
          <div class="clearfix">
            <div class="center-if">
              <a href="pdf/arthur-lacoste-cv.pdf"><button type="button" class="btn btn-red-call btn-lg call-to-action pull-right"><i class="fa fa-download" aria-hidden="true"></i>  Télécharger au format PDF</button></a>
            </div>
          </div>


          <!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">

              <div class="skill contact-icons">
                <ul class="fa-ul">
                  <li class="icon-sign-blank">
                    <a href="https://github.com/arthurlacoste"><i class="fa fa-github fa-li" aria-hidden="true"></i> GitHub</a>
                  </li>
                  <li class="icon-sign-blank">   <i class="fa fa-phone fa-li" aria-hidden="true"></i> 06 31 19 56 70
                  </li>
                  <li class="contact icon-sign-blank">
                    <a href="mailto:m@arthurlacoste.com"><i class="fa fa-envelope fa-li" aria-hidden="true"></i> m@arthurlacoste.com</a>
                  </li>
                  <li class="icon-sign-blank">
                    <i class="fa fa-map-marker fa-li" aria-hidden="true"></i> Grenoble (accessible agglo.)</a>
                  </li>
                </ul>

              </div>
            </div>
            <!-- SKILLS -->
            <div class="box">
              <h2>Compétences</h2>
              <div class="skills">
                <div id="language-skills">
                  <div class="skillou">Développement : HTML/CSS, Javascript, PHP, MySql, NodeJS, C/C++, Python, Shell
                  </div>
                  <div class="skillou">Graphisme : Photoshop, Illustrator, Sketch, Figma, Flash
                  </div>
                  <div class="skillou">Vidéo : Vegas Pro, Adobe Première, After Effects, iMovie, ScreenFlow
                  </div>

                </div>
              </div>
            </div>
            <!-- LANGUAGES -->
            <div class="box">
              <h2>Langues</h2>
              <div id="language-skills">
                <div class="skill">Français

                  <div class="icons pull-right">
                    <p>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                      <span class="glyphicon glyphicon-star"></span>
                    </p>
                  </div>

                </div>

                <div class="skill">Anglais <div class="icons pull-right">

                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  </p>

                </div></div>
              </div>
            </div>
            <!-- HOBBIES -->
            <div class="box">
              <h2>Loisirs</h2>
              <div class="hobby">&nbsp; Escalade</div>
              <div class="hobby">&nbsp; Randonnée</div>
              <div class="hobby">&nbsp; Ecriture</div>
              <div class="hobby">&nbsp; Vélo</div>
              <div class="hobby">&nbsp; Cerf-volant</div>
            </div>
          </div>
        </div>
      </div>
    </div>
